- title = "KOUHAKU Tweets"

!!! 5
%html
  %head
    %title
      = title
    %meta( charset="UTF-8" )
    %meta( name= "viewport" content="width=device-width, initial-scale=1.0" )
    %script( type="text/javascript" src="assets/jquery-1.8.3.min.js" )
    %script( type="text/javascript" src="assets/highcharts.js" )
    %script( type="text/javascript" src="assets/kouhaku.js" )
    :css
      .chart { margin: 50px 0; }

  %body
    #charts
